@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeOutColor {
  0% {
    background-color: #5c5959;
  }

  100% {
    background-color: #00000000;
  }
}

.aboutus {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.aboutush1 {
  color: #ffffffd0;
  margin-top: 70px;
}

.aboutush2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 20px;
}

.aboutush2 span {
  display: block;
  margin: 1rem 0;
}

.viewButton {
  background-color: black;
  color: white;
  font-size: 24px;
  letter-spacing: 0.5rem;
  font-family: bold;
  padding: 35px 45px;
  margin-top: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  border: solid 5px #ffffff;
}

.viewButton:hover {
  transform: scale(1.12);
}

.scrollIndicatorView {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.scrollCircleView {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}

.scrollIconView {
  width: 90px;
  height: 90px;
}

@keyframes fadeOutColor {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.backgroundCubes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.2;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cube {
  width: 70px;
  height: 70px;
  background-color: #5c5959;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease, transform 1s ease, background-color 1s ease;
}

.cube:nth-child(odd) {
  animation: fadeInColor 1s ease forwards;
}

.cube:nth-child(even) {
  animation: fadeInColor 1s ease forwards 0.9s;
}

.cube.grow {
  animation: grow 1s forwards;
}

.cube.shrink {
  animation: fadeOutColor 0.6s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@media (max-width: 1350px) and (min-width: 1024px) {
  .aboutush1 {
    color: #ffffffd0;
    margin-top: 40px;
    font-size: 85px;
  }


  .aboutush2 {
    font-size: 1.7rem;
  }

  .viewButton {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 35px;
    margin-top: 45px;
  }
}

@media (max-width: 1023px) and (min-width: 736px) {
  .cube {
    width: 50px;
    height: 50px;
  }

  .scrollIconView {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 735px) and (min-width: 501px) {
  .aboutush1 {
    color: #ffffffd0;
    margin-top: 40px;
    font-size: 65px;
  }

  .aboutush2 {
    font-size: 0.9rem;
  }

  .viewButton {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 45px;
  }

  .scrollCircleView {
    width: 70px;
    height: 70px;
  }

  .scrollIconView {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) and (min-width: 316px) {
  .aboutush1 {
    color: #ffffffd0;
    margin-top: 40px;
    font-size: 50px;
  }

  .aboutush2 {
    font-size: 0.9rem;
  }

  .aboutus {
    height: 110vh;
  }

  .scrollCircleView {
    width: 70px;
    height: 70px;
  }

  .scrollIconView {
    width: 50px;
    height: 50px;
  }

  .viewButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    margin-top: 45px;
  }
}