.ContactUs {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1.25rem;
  margin-top: 1.25rem;
  text-align: center;
  height: 75rem
}

.ContactUs h2 {
  margin-bottom: 1.875rem;
  margin-top: 3.75rem;
  color: #ffffffd0;
  font-size: 6.875rem;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.57;
  font-weight: 400;
}

.ContactUs span {
  color: white;
  font-size: 1.563rem;
}

.ContactUs a {
  color: rgb(138, 138, 138);
}

.ContactUs a:hover {
  color: blueviolet;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 37.5rem;
}

.contactForm label {
  font-size: 1.1rem;
}

.errorMessage {
  color: rgb(255, 60, 0);
  font-size: 1.1rem;
  margin-top: 0.313rem;
}

.errorInput {
  border: 0.063px solid red;
}

.viewButton {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-family: bold;
  padding-left: 2.813rem;
  padding-right: 2.813rem;
  padding-top: 2.188rem;
  padding-bottom: 2.188rem;
  margin-top: 2.188rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 3.125rem;
  transition: background-color 0.3s ease;
  border: solid 0.313rem #ffffff;
}

.viewButton:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.12);
}

.contactForm input,
.contactForm textarea {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  margin-top: 0.938rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.938rem;
  border: 0.063rem solid #fffdfd;
  border-radius: 0.313rem
}

.contactForm input {
  height: 1.875rem;
}

@keyframes fadeOutColor {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.backgroundCubes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.2;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cube {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #5c5959;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease, transform 1s ease, background-color 1s ease;
}

.cube:nth-child(odd) {
  animation: fadeInColor 1s ease forwards;
}

.cube:nth-child(even) {
  animation: fadeInColor 1s ease forwards 0.9s;
}

.cube.grow {
  animation: grow 1s forwards;
}

.cube.shrink {
  animation: fadeOutColor 0.6s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}


@media (max-width: 1200px) {
  .ContactUs {
    height: 78rem;
  }

  .ContactUs h2 {
    font-size: 5.5em;
  }

  .ContactUs span {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .ContactUs {
    height: 72rem
  }

  .cube {
    width: 3.6rem;
    height: 3.6rem;
  }

  .ContactUs h2 {
    font-size: 5.3em;
  }

  .ContactUs span {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .ContactUs {
    height: 68rem;
  }

  .contactForm input,
  .contactForm textarea {
    background-color: black;
    font-size: 0.938rem;
    margin-top: 0.938rem;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.938rem;
    border: 0.125rem solid #fffdfd;
    border-radius: 0.313rem;

  }


  .ContactUs h2 {
    margin-bottom: 1.875rem;
    margin-top: 4.375rem;
    font-size: 4.375rem;
  }

  .ContactUs span {
    font-size: 1.375rem;
  }

  .viewButton {
    font-size: 1.063rem;
    padding-left: 2.188rem;
    padding-right: 2.188rem;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    margin-top: 2.188rem;
  }
}

@media (max-width: 480px) {
  .ContactUs span {
    font-size: 1.35rem;
  }

  .ContactUs {
    height: 70rem;
  }
}