.ContactUs {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  height: 118vh;
}

.ContactUs h2 {
  margin-bottom: 30px;
  margin-top: 60px;
  color: #ffffffd0;
  font-size: 110px;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.57;
  font-weight: 400;
}

.ContactUs span {
  color: white;
  font-size: 25px;
}

.ContactUs a {
  color: rgb(138, 138, 138);
}

.ContactUs a:hover {
  color: blueviolet;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.contactForm label {
  font-size: 1.1rem;
}

.errorMessage {
  color: rgb(255, 60, 0);
  font-size: 1.1rem;
  margin-top: 5px;
}

.errorInput {
  border: 1px solid red;
}

.viewButton {
  background-color: black;
  color: white;
  font-size: 24px;
  letter-spacing: 0.5rem;
  font-family: bold;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  border: solid 5px #ffffff;
}

.viewButton:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.12);
}

.contactForm input,
.contactForm textarea {
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fffdfd;
  border-radius: 5px;
}

.contactForm input {
  height: 30px;
}

@keyframes fadeOutColor {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.backgroundCubes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.2;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cube {
  width: 70px;
  height: 70px;
  background-color: #5c5959;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease, transform 1s ease, background-color 1s ease;
}

.cube:nth-child(odd) {
  animation: fadeInColor 1s ease forwards;
}

.cube:nth-child(even) {
  animation: fadeInColor 1s ease forwards 0.9s;
}

.cube.grow {
  animation: grow 1s forwards;
}

.cube.shrink {
  animation: fadeOutColor 0.6s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}


@media (min-width: 1024px) and (max-width: 1500px) {
  .ContactUs {
    height: 90vh;
  }
    .ContactUs span {
      color: white;
      font-size: 30px;
    }

  .contactForm input,
  .contactForm textarea {
    width: 800px;
  }
}

@media (min-width: 651px) and (max-width: 1023px) {
  .ContactUs {
    height: 130vh;
  }

  .ContactUs span {
    color: white;
    font-size: 30px;
  }
}

@media (max-width: 650px) {

  .contactForm input,
  .contactForm textarea {
    background-color: black;
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #fffdfd;
    border-radius: 5px;

  }


  .ContactUs h2 {
    margin-bottom: 30px;
    margin-top: 60px;
    color: #ffffffd0;
    font-size: 70px;
  }

  .ContactUs p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 1.47;
    font-weight: 300;
  }

  .ContactUs span {
    color: white;
    font-size: 17px;
  }

  .viewButton {
    background-color: black;
    color: white;
    font-size: 17px;
    letter-spacing: 0.3rem;
    font-family: bold;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    border: solid 5px #ffffff;
  }
}
@media (max-width: 430px) and (min-width:410px) {
  .ContactUs {
    height: 110vh;
  }
}


@media (max-width: 410px) and (min-width:400px) {
  .ContactUs {
    height: 150vh;
  }
}

@media (max-width: 390px) {
  .ContactUs {
    height: 120vh;
  }
}
@media (max-width: 380px) and (min-width:350px) {
  .ContactUs {
    height: 150vh;
  }
}