.moreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  padding: 0 2rem;
  text-align: center; 
  height: auto
}

.backButton {
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1.75rem;
  letter-spacing: 1.2rem;
  font-family: bold;
  padding: 2.188rem 2.813rem;
  margin-top: 2.188rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 3.125rem;
  transition: background-color 0.3s ease;
  border: solid 0.313rem #ffffff;
}
.backButton:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.12);
}

.text {
  margin: 1.6rem 0; 
  font-size: 1.563rem;
  max-width: 75rem; 
  line-height: 1.6; 
}
.socialIconDiv {
    margin-bottom: 6rem;
}
@media (max-width:760px) {
  .text {
    font-size: 1.2rem;
  }
  .backButton {
    font-size: 1.4rem ;
  }
}