.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  height: 71.875rem;
  position: relative;
  width: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-top: 10rem;
}

.mainImages {
  width: 9.375rem;
  height: auto;
  margin: 1.6rem;
}

.scrollIndicator {
  bottom: 1.25rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.scrollCircle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollIcon {
  width: 5.625rem;
  height: 5.625rem;
}

.scrollCircle:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.12);
}

.experience {
  margin-top: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.25rem;
}

.h2 {
  font-size: 3.75rem;
  font-weight: 100;
  margin-bottom: 1.25rem;
}

.p3 {
  font-size: 1.563rem;
  line-height: 1.5;
  color: black;
  max-width: 50rem;
}

p span {
  display: block;
  color: #151515;
  margin-bottom: 0.625rem;
}

p a {
  color: #151515;
  text-decoration: underline;
  transition: color 0.25s ease;
}

p a:hover {
  color: blueviolet;
}

.buttonExperience {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-family: bold;
  padding-left: 2.813rem;
  padding-right: 2.813rem;;
  padding-top: 2.188rem;
  padding-bottom: 2.188rem;
  margin-top:2.188rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 3.125rem;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.buttonExperience:hover {
  transform: scale(1.12);
}

@media (max-width: 1200px) {
  .container {
    height: 80rem;
  }

  .h2 {
    font-size: 3.125rem;
  }

  .p3 {
    font-size: 1.875rem;
  }

    .experience {
      margin-top: 16rem;
    }
 .experience {
   margin-top: 16rem;
 }
}


@media (max-width: 1024px) {


  .h2 {
    font-size: 3rem;
  }

  .p3 {
    font-size: 1.5rem;
  }

  .buttonExperience {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 768px) {
  .container {
    height: 65rem;
  }

  .scrollIcon {
    width: 4.375rem;
    height: 4.375rem;
  }

  .p3 {
    font-size: 1.3rem;
  }

  .h2 {
    font-size: 2.8rem;
  }

  .buttonExperience {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
}
@media (max-width: 480px) {
  .container {
    height: 65rem;
  }

  .scrollIcon {
    width: 4rem;
    height: 4rem;
  }

  .p3 {
    font-size: 1.3rem;
  }

  .h2 {
    font-size: 2.6rem;
  }
     .experience {
       margin-top: 10rem;
     }

  .buttonExperience {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}