.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  height: 115vh;
  position: relative;
  width: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-top: 10rem;
}

.mainImages {
  width: 150px;
  height: auto;
  margin: 1.6rem;
}

.scrollIndicator {
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.scrollCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollIcon {
  width: 90px;
  height: 90px;
}

.scrollCircle:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.12);
}

.experience {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.h2 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 20px;
}

.p3 {
  font-size: 25px;
  line-height: 1.5;
  color: black;
  max-width: 800px;
}

p span {
  display: block;
  color: #151515;
  margin-bottom: 10px;
}

p a {
  color: #151515;
  text-decoration: underline;
  transition: color 0.25s ease;
}

p a:hover {
  color: blueviolet;
}

.buttonExperience {
  background-color: black;
  color: white;
  font-size: 24px;
  letter-spacing: 0.5rem;
  font-family: bold;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.buttonExperience:hover {
  transform: scale(1.12);
}

@media (max-width: 1350px) and (min-width: 1020px) {
  .container {
    height: 130vh;
  }

  .mainImages {
    width: 110px;
    height: auto;
    margin: 1.6rem;
  }

  .h2 {
    font-size: 60px;
  }

  .p3 {
    font-size: 40px;
  }

  .experience {
    margin-top: 35vh;
  }

  .buttonExperience {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 45px;
    font-size: 35px;
    border-radius: 50px;

  }
}

@media (max-width: 1020px) and (min-width: 871px) {
  .cube {
    width: 50px;
    height: 50px;
  }

  .scrollIcon {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 870px) and (min-width: 501px) {
  .mainImages {
    width: 100px;
    height: auto;
    margin: 1.5rem;
  }

  .h2 {
    font-size: 50px;
  }

  .p3 {
    font-size: 30px;
  }
}

@media (max-width: 500px) and (min-width: 315px) {
  .container {
    height: 92vh;
  }

  .scrollIcon {
    width: 60px;
    height: 60px;
  }

  .h2 {
    font-size: 40px;
  }

  .p3 {
    font-size: 22px;
  }

  .experience {
    margin-top: 0vh;
  }

  .buttonExperience {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 35px;
    font-size: 17px;
  }

  .mainImages {
    width: 90px;
    height: auto;
    margin: 1.2rem;
  }

  .h2 {
    font-size: 35px;
  }

  .p3 {
    font-size: 17px;
  }
}

@media (max-width: 740px) and (min-width: 501px) {
  .scrollCircle {
    width: 50px;
    height: 50px;
  }

  .scrollIcon {
    width: 30px;
    height: 30px;
  }
}

@media (max-height: 900px) and (min-height: 600px) {
  .container {
    height: 120vh;
  }
}

@media (max-height: 1400px) and (min-height: 1200px) {
  .container {
    height: 125vh;
  }


}