.workContainer {
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  padding: 6rem;
  text-align: center;
  height: auto;
  border-radius: 10px;
}

.backButton {
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 22px;
  letter-spacing: 1rem;
  margin-bottom: 4.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  border: solid 5px #ffffff;
}

.backButton:hover {
  transform: scale(1.05);
}

.divider {
  margin: 40px 0;
  border: 0;
  border-top: 3px solid #ccc;
  width: 100%;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.57;
  font-weight: 400;
}

.title {
  font-size: 85px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

@media (min-width: 1024px) {
  .workContainer {
    padding: 4rem;
  }

  .backButton {
    font-size: 20px;
  }

  .text {
    font-size: 1.4rem;
  }

  .title {
    font-size: 70px;
  }
}

@media (min-width: 651px) and (max-width: 1023px) {
  .workContainer {
    padding: 3rem;
  }

  .backButton {
    font-size: 18px;
    letter-spacing: 0.8rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .title {
    font-size: 60px;
  }
}


@media (max-width: 650px) {
  .workContainer {
    padding: 2rem;
  }

  .backButton {
    font-size: 16px;
    letter-spacing: 0.5rem;
    padding: 10px 20px;
    border: solid 3px #ffffff;
  }

  .text {
    font-size: 1.1rem;
  }

  .title {
    font-size: 50px;
  }
}

@media (max-width: 430px) {
  .workContainer {
    padding: 1rem;
  }

  .backButton {
    font-size: 14px;
    letter-spacing: 0.3rem;
    padding: 8px 15px;
    border: solid 2px #ffffff;
  }

  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 40px;
  }
}