.socialIcons {
  display: flex;
  margin-top: 50px;

}
.circle {
  margin-left: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.circle:hover {
  transform: scale(1.12);
}

.icon {
  width: 40px;
  height: 40px;
  fill: black; 
}